[flake8] # https://flake8.pycqa.org/en/6.0.0/user/options.html#cmdoption-flake8-select
filename =
    ./setup.py,
    ./degirum_tools/*.py,
    ./test/*.py
ignore=E203,E401,E402,E501,W503
indent-size=4
