#
# Python PIP requirements for degirum_tools external dependencies installation
#
# Copyright 2024 DeGirum Corporation
#

numpy
scipy
pillow
python-dotenv
requests
psutil
opencv-python
degirum>=0.18.3
ipython
pafy
youtube-dl==2020.12.2
pycocotools
pyyaml
ffmpegcv>=0.3.15;platform_system!='Windows'
ffmpeg-python
typing-extensions
jsonschema
apprise
